.navbar-style{
  background-color:rgb(230, 214, 192)
}
.logo-style{
  height: 50px;
  width: 50px;
}
.logo-name{
  font-size: 14px;
  margin:-21px 0px 0px 50px;
  font-weight: bold;
}

*{
  font-family: 'Times New Roman', Times, serif;
}